@import '../mixins-variables';

.main_about {
    margin: $main_margin--mobile;
    @include flex-center;
    flex-direction: column;

    section {
    margin-top: 3em;
    @include flex-center;
    flex-direction: column;
    
    h1, h2, p {
        align-self: flex-start;
    }
    
    figure {
        margin: 4em 0;
        width: 100%;

        figcaption {
            margin-top: .5em;
            text-indent: .3em;
            opacity: .8;
            font-style: italic;
        }
    img {
        width: 100%;
    }

    }
    p:last-child{
        margin-bottom: 3em;
    }
}
}
#main_our-work {
    h1 {
        margin-bottom: 1em;
    }
}

#wolf-figure {
    margin: 2em;
}
#our-engagement {
    margin: 0;
    p {
        margin-bottom: $pg-distance;
    }
}

@media (min-width: 850px) {

    .main_about {
        margin: $main_margin;

        figure {
        max-width: 700px;
    }
 }   
}